* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  background-color: #23132b;
  padding-top: 64px;
  color: #ffffff;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(180deg, rgb(6 3 7 / 100%), rgb(35 19 43 / 0%));
  pointer-events: none;
  z-index: 10;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 106px;
  background: linear-gradient(0deg, rgb(6 3 7 / 100%), rgb(35 19 43 / 0%));
  pointer-events: none;
  z-index: 10;
}

.hero .container {
  padding: 0 16px;
  box-sizing: border-box;
}

.hero-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 288px;
  max-width: 100%;
  height: auto;
  margin-bottom: 64px;
}

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  white-space: nowrap;
  border: none;
  padding: 0;
  width: 288px;
  max-width: 100%;
  height: 47px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow:
    0 1px 2px 0 rgb(6 3 7 / 5%),
    inset 0 -2px 1px 0 rgb(0 0 0 / 20%),
    inset 0 0 0 1px rgb(6 3 7 / 15%),
    inset 0 2px 1px 0 rgb(255 255 255 / 25%),
    inset 0 32px 24px 0 rgb(255 255 255 / 5%);
  background: #764191;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-btn:hover,
.explore-btn:focus {
  background-color: #925bb3;
}

.bg-image {
  width: 288px;
  height: 385px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  position: relative;
  background-image: url('../img/hero/bg-image-mobile.png');
}

/* Mobile Retina 2x */
@media (min-resolution: 2dppx) {
  .bg-image {
    background-image: url('../img/hero/bg-image-mobile@2x.png');
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero::before {
    height: 125px;
    background: linear-gradient(180deg, #060307 0%, rgba(6, 3, 7, 0) 50%);
  }

  .hero::after {
    height: 137px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
  }

  .hero-wrapper {
    width: 704px;
    align-self: center;
    margin-bottom: 32px;
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 24px;
    width: 600px;
  }

  .hero-description {
    font-size: 20px;
    margin-bottom: 32px;
    width: 624px;
  }

  .explore-btn {
    width: 246px;
    height: 47px;
    align-self: flex-start;
  }

  .bg-image {
    width: 704px;
    height: 632px;
    background-image: url('../img/hero/bg-image-tablet.png');
  }
}

/* Tablet Retina 2x */
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: url('../img/hero/bg-image-tablet@2x.png');
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .hero {
    padding: 0;
  }

  .hero .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
  }

  .hero-wrapper {
    width: 672px;
    margin: 0;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 84px;
  }

  .explore-btn {
    width: 206px;
    margin: 0;
  }

  .bg-image {
    width: 641px;
    height: 900px;
    margin-top: 0;
    background-image: url('../img/hero/bg-image-desktop.png');
  }
}

/* Desktop Retina 2x */
@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: url('../img/hero/bg-image-desktop@2x.png');
  }
}
