/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./about.css');
@import url('./artist.css');
@import url('./feedback.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./header.css');
